@model ICollection<BlogSystem.Web.Areas.Administration.ViewModels.Tag.TagViewModel>

<div id="tag-info" class="text-primary hidden">Tip: Input a tag and press Enter to add it. You can add maximum 3 tags.</div>
<div class="tags-root">
    @if (Model != null && Model.Count > 0)
    {
        int i = 0;
        foreach (var tag in Model)
        {
            @Html.DisplayFor(model => tag)
            <input class="tag-name" type="hidden" name="Tags[@i].Name" value="@tag.Name" />
            i++;
        }
    }

    <div class="tags-input-root">
        @if (Model == null || Model.Count() < 3)
        {
            <input class="tag-input lower" type="text" name="tag" list="tags" autocomplete="off" value="" />
            <div class="tag-input text-warning hidden">The maximum number of tags is reached.</div>
        }
        else
        {
            <input class="tag-input lower hidden" type="text" name="tag" list="tags" autocomplete="off" value="" />
            <div class="tag-input text-warning">The maximum number of tags is reached.</div>
        }

        <ul id="tags" class="tags-options hidden"></ul>
    </div>
</div>