html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    background-color: #f0f0f0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -150px;
}

.footer-push, .footer {
    height: 150px;
}

.footer {
    padding: 20px;
    text-align: center;
    color: #b0b0b0;
    background-color: #3F668F;
}

.adm-link {
    margin-top: 10px;
    padding: 10px;
    display: inline-block;
    max-width: 150px;
    font-weight: bold;
    -moz-transition: background-color 0.4s ease-in-out;
    -o-transition: background-color 0.4s ease-in-out;
    -webkit-transition: background-color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
    border-radius: 5px;
    border-top: 2px solid #f3f3f3;
    border-left: 2px solid #f3f3f3;
    border-bottom: 2px solid #c7c7c7;
    border-right: 2px solid #c7c7c7;
}

    .adm-link:hover {
        text-decoration: none;
        background-color: #ececec;
    }

dd {
    margin-bottom: 10px;
}

.check-box {
    margin: 0 !important;
    width: 30px;
}

.content-root, .content {
    margin: 15px 0;
}

.content {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-top: 1px solid #fff;
    box-shadow: 3px 3px 5px 0 rgba(90, 90, 90, 0.75);
}

.article-header, .article-title, .article-body, .article-footer {
    margin: 0 5% 0 5%;
}

.article-header {
    margin-top: 20px;
}

.article-footer {
    margin-bottom: 10px;
}

    .article-footer ul {
        display: inline-block;
        position: relative;
        top: -21px;
    }

    .article-footer ul, .article-footer li,
    .social, .social li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .article-footer li {
        margin-right: 10px;
        width: 110px;
        height: 80px;
        text-align: center;
    }

        .article-footer li div:first-of-type {
            margin-top: 10px;
            -moz-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }

        .article-footer li:hover div:first-of-type {
            font-size: 3em;
        }

        .article-footer li div:last-of-type {
            -moz-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
            font-size: 0.75em;
        }

        .article-footer li:hover div:last-of-type {
            color: #fff;
            background-color: #3F668F;
            font-size: 1em;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        .article-footer li span.splitter {
            display: inline-block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 0;
            border-top: 2px solid #3F668F;
            border-left: 1px solid #3F668F;
            border-right: 1px solid #3F668F;
            -moz-transition: height 0.3s ease-out;
            -o-transition: height 0.3s ease-out;
            -webkit-transition: height 0.3s ease-out;
            transition: height 0.3s ease-out;
        }

        .article-footer li:hover span.splitter {
            height: 70px;
        }

@media(min-width: 1200px) {
    .article-title {
        margin-left: 2%;
    }
}

@media(max-width: 480px) {
    .article-title {
        margin-left: 10%;
    }
}

.title h2 {
    font-size: 1.8em;
    font-weight: bold;
}

.title h3 {
    margin-top: 5px;
    font-size: 1.2em;
}

.date-holder {
    position: absolute;
    left: -10px;
    width: 60px;
    line-height: 16px;
    color: #c6e1ff;
    background: radial-gradient(ellipse at center, #3f668f 0,#6b9ed5 0,#6b9ed5 30%,#3f668f 100%);
    box-shadow: 3px 3px 5px 0 rgba(90, 90, 90, 0.75);
}

    .date-holder ul {
        margin: 2px;
        padding: 3px;
        list-style: none;
        text-shadow: 1px 1px 2px #052547;
        border-top: 1px dashed #87aEdA;
        border-left: 1px dashed #87aEdA;
        border-bottom: 1px dashed #87aEdA;
    }

.date-month, .date-year {
    font-size: .8em;
}

.date-day {
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
}

@media (min-width: 768px) {
    table th:last-of-type {
        min-width: 160px;
    }
}

.aside-header, .aside-body {
    margin: 15px 10px;
}

    .aside-header h2 {
        margin: 0 0 -2px 0;
        padding-bottom: 5px;
        display: inline-block;
        color: #585f69;
        font-size: 1.3em;
        border-bottom: 2px solid #e74c3c;
    }

.aside-title {
    border-bottom: 1px solid #eee;
}

.social li {
    margin: 5px;
    display: inline-block;
    width: 44px;
    height: 46px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    border-top: 1px solid rgba(0,0,0,0);
    border-left: 1px solid rgba(0,0,0,0);
    border-bottom: 2px solid rgba(0,0,0,0);
    border-right: 2px solid rgba(0,0,0,0);
    overflow: hidden;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -moz-transition-property: transform;
    -o-transition-property: transform;
    -webkit-transition-property: transform;
    transition-property: transform;
}

    .social li:hover {
        color: #3F668F;
        rotation: 30deg;
        background-color: #ececec;
        border-top: 1px solid #f3f3f3;
        border-left: 1px solid #f3f3f3;
        border-bottom: 2px solid #c7c7c7;
        border-right: 2px solid #c7c7c7;
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    .social li i, .social li {
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

li.github:hover i {
    color: #4183C4;
}

li.facebook:hover i {
    color: #3b5998;
}

li.google-plus:hover i {
    color: #DD4B39;
}

li.rss:hover i {
    color: #FF6600;
}

li.stackoverflow:hover i {
    color: #fe7a15;
}

li.linkedin:hover i {
    color: #0976b4; /*007bb6*/
}

li.skype:hover i {
    color: #12A5F4;
}
