body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f0f0f0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -150px;
}

.footer-push, .footer {
    height: 150px;
}

.footer {
    padding: 20px;
    text-align: center;
    color: #b0b0b0;
    background-color: #3F668F;
}

.adm-link {
    margin-top: 10px;
    padding: 10px;
    display: inline-block;
    max-width: 150px;
    font-weight: bold;
    -moz-transition: background-color 0.4s ease-in-out;
    -o-transition: background-color 0.4s ease-in-out;
    -webkit-transition: background-color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
    border-radius: 5px;
    border-top: 2px solid #f3f3f3;
    border-left: 2px solid #f3f3f3;
    border-bottom: 2px solid #c7c7c7;
    border-right: 2px solid #c7c7c7;
}

    .adm-link:hover {
        text-decoration: none;
        background-color: #ececec;
    }

dd {
    margin-bottom: 10px;
}

.check-box {
    margin: 0 !important;
    width: 30px;
}

section {
    margin-top: 15px;
}

article, aside {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #fff;
}
