ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    color: #666;
}

.loader {
    margin-right: 10px;
}

.loader, #user-error, #comment-error {
    display: none;
}

.body-blog {
    background-color: #f0f0f0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -150px;
}

.footer-push, .footer {
    height: 150px;
}

.footer {
    padding: 20px;
    text-align: center;
    color: #b0b0b0;
    background-color: #222; /*3F668F;*/
}

.adm-link {
    margin-top: 10px;
    padding: 10px;
    display: inline-block;
    max-width: 150px;
    font-weight: bold;
    -moz-transition: background-color 0.4s ease-in-out;
    -o-transition: background-color 0.4s ease-in-out;
    -webkit-transition: background-color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
    border-radius: 5px;
    border-top: 2px solid #f3f3f3;
    border-left: 2px solid #f3f3f3;
    border-bottom: 2px solid #c7c7c7;
    border-right: 2px solid #c7c7c7;
}

    .adm-link:hover {
        text-decoration: none;
        background-color: #ececec;
    }

dd {
    margin-bottom: 10px;
}

.check-box {
    margin: 0 !important;
    width: 30px;
}

/*.content-root, .content {
    margin: 15px 0;
}

.content {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-top: 1px solid #fff;
    box-shadow: 3px 3px 5px 0 rgba(90, 90, 90, 0.75);
}

article.content:last-of-type {
    margin-bottom: 0;
}

.article-header, .article-title, .article-body, .article-footer {
    margin: 0 5% 0 5%;
}

.article-header {
    margin-top: 20px;
}

.article-footer {
    margin-bottom: 10px;
}*/

.article-footer ul {
    display: inline-block;
    position: relative;
    height: 70px;
    top: -21px;
}

.article-footer ul, .article-footer li,
.social, .social li, .blog-info, .blog-info li {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .article-footer li,
    .article-footer li .splitter,
    .article-footer li .glyphicon,
    .article-footer li .text-holder {
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }

.article-footer li {
    margin-right: 5px;
    width: 50px;
    height: 30px;
    text-align: center;
    background-color: #efefef;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #5a5a5a;
    border-right: 1px solid #5a5a5a;
    box-shadow: 3px 3px 5px 0 rgba(90, 90, 90, 0.75);
}

    .article-footer li:hover {
        width: 85px;
        height: 70px;
    }

    .article-footer li.autor {
        border-top: 2px solid #156dd0;
    }

        .article-footer li.autor:hover .glyphicon {
            color: #218AFF;
        }

    .article-footer li.date {
        border-top: 2px solid #b91d0d;
    }

        .article-footer li.date:hover .glyphicon {
            color: #d14233;
        }

    .article-footer li.time {
        border-top: 2px solid #0a866e;
    }

        .article-footer li.time:hover .glyphicon {
            color: #16a085;
        }

    .article-footer li.comments {
        border-top: 2px solid #db6f12;
    }

        .article-footer li.comments:hover .glyphicon {
            color: #ff9602;
        }

    .article-footer li .glyphicon {
        margin-top: 5px;
    }

    .article-footer li:hover .glyphicon {
        top: 20px;
        -moz-transform: scale(3);
        -ms-transform: scale(3);
        -o-transform: scale(3);
        -webkit-transform: scale(3);
        transform: scale(3);
    }

    .article-footer li .text-holder {
        visibility: hidden;
        padding-top: 3px;
        position: relative;
        top: -45.3px;
        width: 85px;
        height: 20px;
        opacity: 0;
        font-size: 0.8em;
    }

    .article-footer li:hover .text-holder {
        visibility: visible;
        left: -1px;
        color: #fff;
        opacity: 1;
    }

    .article-footer li:last-of-type,
    .root div:last-of-type {
        margin-right: 0;
    }

.text-autor {
    left: -100px;
    background-color: #218AFF;
}

.text-date {
    left: -100px;
    background-color: #d14233;
}

.text-time {
    left: -100px;
    background-color: #16a085;
}

.text-comments {
    left: -100px;
    background-color: #ff9602;
}

.article-title {
    margin-left: 2%;
}

@media(max-width: 700px) {
    .article-title {
        margin-left: 5%;
    }
}

@media(max-width: 480px) {
    .article-title {
        margin-left: 10%;
    }
}

.title h2 {
    color: #222;
    font-size: 1.8em;
    font-weight: bold;
}

.title h3 {
    margin-top: 5px;
    font-size: 1.2em;
}

.date-holder {
    position: absolute;
    left: -10px;
    width: 60px;
    line-height: 16px;
    color: #c6e1ff;
    background: radial-gradient(ellipse at center, #3f668f 0,#6b9ed5 0,#6b9ed5 30%,#3f668f 100%);
    box-shadow: 3px 3px 5px 0 rgba(90, 90, 90, 0.75);
}

    .date-holder ul {
        margin: 2px;
        padding: 3px;
        list-style: none;
        text-shadow: 1px 1px 2px #052547;
        border-top: 1px dashed #87aEdA;
        border-left: 1px dashed #87aEdA;
        border-bottom: 1px dashed #87aEdA;
    }

.date-month, .date-year {
    font-size: .8em;
}

.date-day {
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
}

@media (min-width: 768px) {
    table th:last-of-type {
        min-width: 160px;
    }
}

.img-bordered {
    margin-top: 5px;
    margin-bottom: 10px;
    border-top: 1px solid #eee;
    border-right: 1px solid #5a5a5a;
    border-bottom: 1px solid #5a5a5a;
    border-left: 1px solid #eee;
    box-shadow: 3px 3px 5px 0 rgba(90, 90, 90, 0.75);
}

.margin-right-15px {
    margin-right: 15px;
}

.margin-left-15px {
    margin-left: 15px;
}

/*.aside-header, .aside-body {
    margin: 15px 10px;
}*/

.aside-body {
    margin-top: 7%;
}

.aside-header h2 {
    margin: 0 0 -2px 0;
    padding-bottom: 5px;
    display: inline-block;
    color: #585f69;
    font-size: 1.3em;
    border-bottom: 2px solid #e74c3c;
}

.aside-title {
    border-bottom: 1px solid #eee;
}

.social li a, .recent-posts a {
    color: #666;
}

.social,
.social li {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .social li {
        margin: 3px;
        display: inline-block;
        position: relative;
        width: 47px;
        height: 47px;
        background-color: #efefef;
        /*border-radius: 5px;*/
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #5a5a5a;
        border-right: 1px solid #5a5a5a;
        box-shadow: 3px 3px 5px 0 rgba(90, 90, 90, 0.75);
        -moz-transition: background-color 0.3s linear;
        -o-transition: background-color 0.3s linear;
        -webkit-transition: background-color 0.3s linear;
        transition: background-color 0.3s linear;
    }

    .social i {
        position: absolute;
        top: 9px;
        left: 8px;
        color: #5a5a5a;
        font-size: 2.3em;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }

    .social li:hover i {
        top: 5px;
        color: #fff;
    }

.mailto i {
    top: 7px;
    left: 6px;
}

.facebook i {
    left: 18px;
}

.mailto:hover i {
    top: 3px !important;
}

.mailto:hover {
    background-color: #3F668F;
}

.github:hover {
    background-color: #4183C4;
}

.facebook:hover {
    background-color: #3b5998;
}

.google-plus:hover {
    background-color: #DD4B39;
}

.rss:hover {
    background-color: #FF6600;
}

.stackoverflow:hover {
    background-color: #fe7a15;
}

.linkedin:hover {
    background-color: #0976b4;
}

.skype:hover {
    background-color: #12A5F4;
}

.recent-posts, .recent-posts li {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
}

    .recent-posts li {
        border-bottom: 1px solid #eee;
        -moz-transition: background-color 0.3s linear;
        -o-transition: background-color 0.3s linear;
        -webkit-transition: background-color 0.3s linear;
        transition: background-color 0.3s linear;
    }

        .recent-posts li:hover {
            background-color: #ececec;
        }

    .recent-posts a {
        padding: 5px;
        display: inline-block;
        width: 100%;
        height: 100%;
    }

        .recent-posts a:hover {
            color: #4183C4;
        }

            .recent-posts a:hover div {
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }

    .recent-posts div {
        margin-right: 10px;
        padding: 5px;
        text-align: center;
        background-color: #efefef;
        /*border-radius: 5px;*/
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #5a5a5a;
        border-right: 1px solid #5a5a5a;
        box-shadow: 3px 3px 5px 0 rgba(90, 90, 90, 0.75);
        overflow: hidden;
        -moz-transition: transform 0.3s;
        -o-transition: transform 0.3s;
        -webkit-transition: transform 0.3s;
        transition: transform 0.3s;
    }

.pagination {
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0 rgba(90, 90, 90, 0.75);
}

.pager-previous, .pager-next {
    margin: 0 !important;
    width: 45%;
}

.pager-glyph {
    width: 10%;
}

.pager-text {
    width: 89%;
}

.blog-info {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 5px;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
    color: #909090;
    background-color: #eaf5fb;
    font-size: 0.8em;
}

    .blog-info li {
        margin-right: 10px;
        display: inline-block;
    }

.comments-create {
    padding: 1% 2% 2% 2%;
    background-color: #eaf5fb;
    border: 1px solid #cee9f8;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0 rgba(90, 90, 90, 0.75);
}

.comments-warning {
    box-shadow: 3px 3px 5px 0 rgba(90, 90, 90, 0.75);
}

.comment {
    margin: 0;
    padding: 1.5%;
    border-bottom: 1px dotted #aaa;
    -ms-word-break: break-word;
    word-break: break-word;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

    .comment:nth-of-type(2n+1) {
        background-color: #f5f5f5;
    }

.comment-header {
    float: left;
    width: 30%;
}

.user-data-pic, .user-data-pic-img, .user-data-pic-glyph, .comment-header {
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.user-data-pic {
    margin: 0 5px 5px 0;
    padding: 5px;
    width: 51px;
    height: 51px;
    background-color: #b2b2b2;
    border: 1px solid #909090;
}

.comment-header:hover .user-data-pic {
    padding: 0;
}

.comment-header:hover .user-data-pic-glyph {
    font-size: 3em;
}

.user-data-pic:hover .user-data-pic-img {
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
}

.user-data-pic-img, .user-data-pic-glyph {
    margin-top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 50px;
    border: 1px dashed #909090;
    background-color: #fff;
}

.user-data-pic-glyph {
    font-size: 2.5em;
}

.user-info, .user-data-pic, .comment-data-id, .comment-data-time, .comment-data-date {
    display: inline-block;
    vertical-align: top;
}

.user-info-name {
    color: #4183C4;
    font-weight: bold;
}

.user-info-points {
    color: #aaa;
    font-size: 0.858em;
}

.comment-body {
    float: right;
    width: 69%;
}

.comment-data {
    font-size: 0.72em;
}

.comment-data-id, .comment-data-time, .comment-data-date {
    margin: 5px 0 0 0;
    padding: 0 4px;
    border-radius: 3px;
}

.comment-data-id {
    margin-right: 5px;
    color: #fff;
    border: 1px solid #d83a29;
    background-color: #E74C3C;
}

.comment-data-time, .comment-data-date {
    border: 1px solid #efce29;
    background-color: #FAF78F;
}

.plate {
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #777;
    border-right: 1px solid #777;
    box-shadow: 3px 3px 5px 0 rgba(90, 90, 90, 0.75);
}

.page {
    margin: 15px 0;
    padding: 4% 5%;
}

.avatar-wrapper {
    width: 130px;
    text-align: center;
}

.avatar-wrapper, .user-pic {
    margin-bottom: 15px;
}

    .user-pic img, .user-pic span {
        font-size: 9em;
        height: 130px;
    }

.user-details span {
    padding-bottom: 3px;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 2px solid #5cb85c;
}

.user-details dl {
    margin-bottom: 20px;
    color: #777;
    border-top: 1px solid #eee;
}

.user-details dt {
    margin: 15px 5% 0 0;
    width: 25%;
    max-width: 100px;
    text-align: right;
}

.user-details dd {
    width: 68%;
    text-align: left;
}

.user-details dt, .user-details dd {
    margin-bottom: 0;
    display: inline-block;
}
