@model BlogSystem.Web.ViewModels.Comment.CommentIndexViewModel
@{
    ViewBag.Title = "Comments";
}

<section id="comments" class="content-root content">
    <div class="article-body">
        <h3>@ViewBag.Title</h3>
        <hr />
        @Html.Partial("_CreateCommentPartial", Model.CommentInputModel)
        <hr />

        @if (Model != null && Model.Comments != null && Model.Comments.Count() > 0)
        {
            <ul class="comments">
                @foreach (var comment in Model.Comments)
                {
                    if (comment.IsVisible)
                    {
                        <li>@Html.Raw(comment.Content)</li>
                    }
                    else
                    {
                        <li>
                            <p>This comment is not visible!</p>
                            <p>@comment.ReasonToHide</p>
                        </li>
                    }
                }
            </ul>
        }
        else
        {
            <h4>No comments.</h4>
            <br />
        }
    </div>
</section>