@model BlogSystem.Web.ViewModels.Comment.CommentIndexViewModel
@{
    ViewBag.Title = "Comments";
}

<h2>@ViewBag.Title</h2>
<hr />
@Html.Partial("_CreateCommentPartial", new BlogSystem.Web.ViewModels.Comment.CommentInputModel { Id = Model.Id })
<hr />

<div id="comments-items">
    @Html.Partial("_ItemsPartial", Model)
</div>