@model BlogSystem.Web.ViewModels.Comment.CommentIndexViewModel
@{
    ViewBag.Title = "Comments";
}

<h2>@ViewBag.Title</h2>
<hr />
@Html.Partial("_CreateCommentPartial", new BlogSystem.Web.ViewModels.Comment.CommentInputModel { Id = Model.Id })
<hr />

@if (Model.HasComments)
{
    <ul>
        @{int i = 1;}
        @foreach (var comment in Model.Comments)
        {
            int perPage = int.Parse(this.ViewBag.Settings.Get["Comments Per Page"]);
            ViewBag.CommentNumber = i + perPage * (Model.CurrentPage - 1);
            @Html.Partial("_CommentDetailPartial", comment)
            i++;
        }
    </ul>

    @Ajax.Pagination(Url.Action("All", new { id = Model.Id }), Model,
        new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "comments"
        }, new { @class = "comments-nav" });
}
else
{
    <h4>No comments.</h4>
}