@model BlogSystem.Web.ViewModels.Comment.CommentIndexViewModel
@{
    ViewBag.Title = "Comments";
}

<h2>@ViewBag.Title</h2>
<hr />
@if (Model.IsCommentsDisabled)
{
    <h3 class="text-warning">The comments have been disabled!</h3>
}
else
{
    @Html.Partial("_CreateCommentPartial", new BlogSystem.Web.ViewModels.Comment.CommentInputModel { Id = Model.Id })
}
<hr />

<div id="comments-items">
    @Html.Partial("_ItemsPartial", Model)
</div>