@{
    ViewBag.Title = "Home";
}

<h2>@ViewBag.Title</h2>
<hr />
<br />

<div class="row text-center">
    <div class="col-md-3">
        <a href="/Administration/BlogPosts" class="adm-link">
            <img src="~/Content/Images/BlogPosts.png" alt="Blog Posts" />
            <div class="adm-link-label">Blog Posts</div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="/Administration/Pages" class="adm-link">
            <img src="~/Content/Images/Pages.png" alt="Pages" />
            <div class="adm-link-label">Pages</div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="/Administration/SystemSettings" class="adm-link">
            <img src="~/Content/Images/SystemSettings.png" alt="System Settings" />
            <div class="adm-link-label">System Settings</div>
        </a>
    </div>
</div>