<aside class="content-root">
    <section class="content">
        <header class="aside-header">
            <div class="title aside-title">
                <h2>Social medias</h2>
            </div>
        </header>

        <div class="aside-body"></div>
    </section>

    <section class="content">
        <header class="aside-header">
            <div class="title aside-title">
                <h2>My GidHub</h2>
            </div>
        </header>

        <div class="aside-body">
            <iframe src="https://githubbadge.appspot.com/kizisoft?s=1" style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameborder="0"></iframe>
        </div>
    </section>
</aside>