@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="plate page">
    <h1 class="text-danger">@ViewBag.Title</h1>
    <h2 class="static-errors text-danger">An error occurred while processing your request.</h2>
</hgroup>